@font-face {
    font-family: 'Figtree-Medium';
    src: local('Figtree-Medium'), url(./assets/fonts/static/Figtree-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Figtree-ExtraBold';
    src: local('Figtree-ExtraBold'), url(./assets/fonts/static/Figtree-ExtraBold.ttf) format('truetype');
}

body,
html {
    width: 100%;
    margin: 0;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
    font-family: 'Figtree-Medium';
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    padding: 20px;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}

.image {
    align-self: center;
    width: 100%;
    height: auto;
}

.image img {
    border-radius: 10px;
}

.category {
    width: 100px;
    height: 35px;
    margin: 20px 0px 10px 0px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree-ExtraBold';
    font-weight: 500;
    font-size: 16px;
}

.date {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
}

.title {
    margin: 10px 0px 10px 0px;
    font-family: 'Figtree-ExtraBold';
    font-size: 26px;
    font-weight: 500;
    color: hsl(47, 88%, 63%);
}

.text {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    line-height: 25px;
}

.footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.picture {
    width: 32px;
    height: 32.5px;
}

.picture img {
    width: 100%;
    height: auto;
}


.name {
    margin-left: 10px;
    font-family: 'Figtree-ExtraBold';
    font-size: 14px;
    font-weight: 500px;
}
