body,
html {
    width: 100%;
    margin: 0;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
}
